* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #EDF1D6;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  height: 100vh;
  width: 1280px;
  z-index: 0;
}
