.inventario-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #EDF1D6;
    width: 100vw;
    height: 100vh;
}

.inventario-form-items {
    display: flex;
    flex-direction: column;
    height: 650px;
    overflow: auto;
    gap: 10px;
}