.menu-btn {
    width: 260px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
}

.menu-btn:hover {
    background-color: '#609966';
    color: '#D9D9D9';
}